body
{
    font-family: 'poppins', sans-serif;
    background-color: #ececec ;
}




/*---------------------------Login Container---------------------------*/





/*---------------------------Right Container---------------------------*/

.bg-image-custom {
  background-image: url('assets/diverse-education-shoot.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px; /* atau ikut saiz yang kau nak */
  width: 400px; /* kalau nak fix width */
}

.right-box{
    padding: 40px 30px 40px 40px;
}



/*---------------------------For Small Screens---------------------------*/

@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px;
    }

    .left-box{
        height: 100px;
        overflow: hidden;
    }

    .right-box{
        padding: 20px;
    }
}
